header.container-fluid.b-header__wrapper
	.b-header
		.b-header-logo
			.b-header-logo__title Microsoft Developer Tour 
			.b-header-logo__subtitle Технологическая экспедиция
		.b-header-menu
			nav.b-navbar
				.b-navbar__element
					a(href="").b-navbar__link Об экспедиции
				.b-navbar__element
					a(href="").b-navbar__link Новости
			.b-header-social
				a(href="").b-header-social__item
					img(src="images/fb.png" alt="fb")
				a(href="").b-header-social__item
					img(src="images/twitter.png" alt="twitter")
				a(href="").b-header-social__item
					img(src="images/vk.png" alt="vkontakte")
